@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #252b42;
  line-height: 1;
  font-family: "Montserrat ";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Montserrat ";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  line-height: 1;
  background: #fafafa;
  font-weight: 500
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,65.625rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.footer__label {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.footer__label::-webkit-details-marker,
.footer__label::marker {
  display: none
}
._spoller-init .footer__label {
  cursor: pointer
}
._spoller-init .footer__label::after,
._spoller-init .footer__label::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .footer__label::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .footer__label::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .footer__label._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .footer__label._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #eee
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header-block {
  text-align: center;
  letter-spacing: .0125rem
}
.header-block__title {
  line-height: 1.42;
  font-weight: 700
}
.header-block__title:not(:last-child) {
  margin: 0 0 .625rem 0
}
.header-block__sub-title {
  line-height: 1.42;
  color: #737373
}
.header-block__title {
  -webkit-transform: translate(0,3.125rem);
  transform: translate(0,3.125rem)
}
.header-block__title._watcher-view {
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease,-webkit-transform .7s ease
}
.header-block__sub-title {
  -webkit-transform: translate(0,3.125rem);
  transform: translate(0,3.125rem)
}
.header-block__sub-title._watcher-view {
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: -webkit-transform .9s ease;
  transition: transform .9s ease;
  transition: transform .9s ease,-webkit-transform .9s ease
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50
}
.header._header-scroll {
  background-color: rgba(0,0,0,.1)
}
.header__container {
  display: flex;
  align-items: center
}
.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .00625rem;
  color: #252b42;
  position: relative;
  z-index: 20
}
.menu {
  flex: 1 1 auto;
  justify-content: center;
  display: flex
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  row-gap: .1875rem;
  justify-content: center
}
.menu__link {
  color: #737373;
  letter-spacing: .2px;
  font-weight: 600;
  line-height: 1.71;
  transition: all .3s;
  position: relative
}
.menu__link::before {
  content: "";
  height: .0625rem;
  background-color: #737373;
  position: absolute;
  top: 70%;
  width: 0;
  left: 0;
  transition: all .3s;
  border-radius: .0625rem;
  margin-top: .0625rem
}
.menu__link._navigator-active {
  text-decoration: underline;
  color: #737373
}
.footer__top {
  background-color: #17213c;
  padding: 2.1875rem 0
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.9375rem
}
.footer__column {
  padding: .9375rem .9375rem;
  flex: 0 1 16.6667%;
  min-width: 10.625rem
}
.footer__column:last-child {
  flex: 0 1 33.334%
}
.footer__label {
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px;
  margin: 0 0 20px 0
}
.footer__bottom {
  padding: 1.5625rem 0
}
.footer__copy {
  color: #737373;
  line-height: 1.71
}
.menu-footer__item:not(:last-child) {
  margin: 0 0 .625rem 0
}
.menu-footer__link {
  color: #fff;
  display: inline-block;
  line-height: 1.42;
  letter-spacing: .2px;
  transition: all .3s;
  position: relative
}
.menu-footer__link::before {
  content: "";
  height: .0625rem;
  background-color: #fff;
  position: absolute;
  top: 80%;
  width: 0;
  left: 0;
  transition: all .3s;
  border-radius: .0625rem;
  margin-top: .0625rem
}
.contacts-footer {
  display: flex;
  flex-direction: column
}
.contacts-footer__item {
  padding: 0 0 0 2.125rem;
  line-height: 1.42;
  display: flex;
  align-items: center;
  color: #fff;
  min-height: 1.875rem
}
.contacts-footer__item:not(:last-child) {
  margin: 0 0 .75rem 0
}
.contacts-footer__item_phone {
  background: url(../img/social/icon/01.svg) 0 0 no-repeat
}
.contacts-footer__item_map {
  background: url(../img/social/icon/02.svg) 0 0 no-repeat
}
.contacts-footer__item_email {
  background: url(../img/social/icon/03.svg) 0 0 no-repeat
}
.social {
  display: flex;
  align-items: center
}
.social__item:not(:last-child) {
  margin: 0 1.25rem 0 0
}
.social__img {
  transition: all .3s ease 0s;
  color: #abb2bf;
  width: 1.4375rem
}
.social__img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}
.main-block {
  position: relative;
  min-height: 49.5625rem
}
.main-block__body {
  position: relative;
  z-index: 2;
  max-width: 25rem
}
.main-block__body>*:not(:last-child) {
  margin: 0 0 2.1875rem 0
}
.main-block__title {
  font-weight: 800;
  line-height: 1.37;
  letter-spacing: .0125rem
}
.main-block__text {
  color: #737373;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: .0125rem
}
.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -.625rem 0
}
.main-block__button {
  border-radius: 2.3125rem;
  display: flex;
  min-height: 3rem;
  justify-content: center;
  align-items: center;
  letter-spacing: .0125rem;
  font-weight: 700;
  text-align: center;
  line-height: 2;
  padding: .3125rem 2.25rem;
  margin: .625rem 0;
  transition: all .3s
}
.main-block__button--orange {
  background: #ff7b47;
  color: #fff;
  transition: all .3s;
  border: .0625rem solid transparent
}
.main-block__button--border {
  color: #0d5c63;
  border: .0625rem solid #0d5c63
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.main-block__image img {
  -o-object-position: right;
  object-position: right
}
.services {
  margin: -111px 0 0 0;
  z-index: 2;
  position: relative
}
.services__body {
  z-index: 2
}
.services__column {
  flex: 0 1 33.333%;
  margin: 0 0 1.875rem 0
}
.services__item {
  height: 100%;
  background: #fff;
  box-shadow: 0 .8125rem 1.1875rem 0 rgba(0,0,0,.07);
  padding: 2.1875rem
}
.item-service>*:not(:last-child) {
  margin: 0 0 .625rem 0
}
.item-service_green {
  background-color: #0d5c63;
  box-shadow: 0 .8125rem 1.1875rem 0 rgba(0,0,0,.07)
}
.item-service__title {
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .1px;
  font-size: 1.5rem
}
.item-service__text {
  color: #737373;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: .2px
}
.item-service_green .item-service__title {
  color: #fff
}
.item-service_green .item-service__text {
  color: #fff
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.9375rem -1.875rem
}
.advantages__column {
  padding: 0 .9375rem;
  margin: 0 0 1.875rem 0;
  flex: 0 1 25%
}
.advantages__item {
  background-color: #fff;
  padding: 1.875rem;
  text-align: center;
  font-weight: 700
}
.advantages__item>*:not(:last-child) {
  margin: 0 0 .625rem 0
}
.advantages__icon {
  height: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center
}
.advantages__value-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .625rem
}
.advantages__value-item span {
  font-size: 2.5rem;
  font-weight: 700
}
.advantages__value {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.42
}
.advantages__text {
  letter-spacing: .00625rem;
  color: #737373;
  font-size: 1rem;
  line-height: 1.5
}
.practice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.25rem -1.875rem
}
.practice__column {
  padding: 0 1.25rem;
  margin: 0 0 1.875rem 0;
  flex: 0 1 25%
}
.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto
}
.item-practice__link {
  color: inherit;
  display: inline-block
}
.item-practice__link:not(:last-child) {
  margin-bottom: .9375rem
}
.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px
}
.item-practice__text {
  color: #737373;
  line-height: 1.42
}
.item-practice__image {
  display: block;
  padding: 0
}
.whoweare {
  background-color: #fff
}
.whoweare__body {
  display: flex;
  align-items: flex-start
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
  -webkit-transform: translate(-1.875rem,1.875rem);
  transform: translate(-1.875rem,1.875rem)
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.whoweare__video._watcher-view {
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: -webkit-transform .9s ease;
  transition: transform .9s ease;
  transition: transform .9s ease,-webkit-transform .9s ease
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 1.25rem 0 0 7.5625rem;
  -webkit-transform: translate(1.875rem,1.875rem);
  transform: translate(1.875rem,1.875rem)
}
.whoweare__content._watcher-view {
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: -webkit-transform .9s ease;
  transition: transform .9s ease;
  transition: transform .9s ease,-webkit-transform .9s ease
}
.whoweare__title {
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: .0125rem
}
.whoweare__title:not(:last-child) {
  margin: 0 0 .625rem 0
}
.whoweare__text {
  line-height: 1.42;
  color: #737373;
  letter-spacing: .0125rem
}
.whoweare__item:not(:last-child) {
  margin: 0 0 1.875rem 0
}
.item-whoweare {
  display: flex
}
.item-whoweare__icon {
  flex: 0 0 2rem
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 1.25rem
}
.item-whoweare__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5
}
.item-whoweare__text {
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: .0125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 13.875rem
}
.clients {
  padding: 3.125rem 0 3.125rem 0
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
  max-width: 100%
}
.subscribe {
  position: relative;
  padding-bottom: 1.25rem
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4.8125rem;
  width: 100%;
  left: 0;
  background: #252b42
}
.subscribe__body {
  position: relative;
  padding: 1.875rem 3.125rem;
  align-items: center;
  border-radius: .125rem;
  background: #17213c;
  z-index: 2
}
.subscribe__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: .00625rem
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 3.625rem;
  background: #f9f9f9;
  color: var(--second-text-color,#737373);
  padding: 0 1.25rem;
  border: .0625rem solid #e6e6e6;
  border-right: 0;
  box-sizing: border-box;
  border-radius: .3125rem 0 0 .3125rem
}
.subscribe__button {
  background: var(--primary-color,#ff7b47);
  border: .0625rem solid #e6e6e6;
  border-radius: 0 .3125rem .3125rem 0;
  display: flex;
  min-height: 3.625rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 1.40625rem
}
.subscribe__button:focus {
  color: #000
}
.getintouch__items {
  margin: 0 -.9375rem
}
.getintouch__item {
  flex: 0 1 33.333%
}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 3.125rem .9375rem
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.item-getintouch__email {
  font-weight: 600;
  line-height: 150%;
  font-size: 1rem
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%
}
.item-getintouch__button {
  border-radius: .3125rem;
  border: .0625rem solid #ff7b47;
  min-height: 2.75rem;
  display: flex;
  font-weight: 600;
  padding: .625rem 1.25rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 142%;
  transition: all .3s
}
.item-getintouch--active {
  background: #252b42;
  color: #fff;
  padding-bottom: .9375rem
}
.contact {
  background-color: #fff;
  padding: 2.625rem 0
}
.contact__content {
  padding: 0 0 1.25rem 0
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .1px;
  line-height: 133%
}
.contact__title:not(:last-child) {
  margin-bottom: .625rem
}
.contact__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 142%;
  letter-spacing: .2px
}
.contact__button {
  display: flex;
  padding: 15px 40px;
  min-height: 58px;
  align-items: center;
  border-radius: 5px;
  background-color: #ff7b47;
  color: #fff;
  justify-content: center;
  text-align: center;
  transition: background-color .3s ease 0s
}
@media (min-width:29.99875em) {
  .main-block__button:not(:last-child) {
    margin-right: .625rem
  }
}
@media (min-width:41.875em) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.9375rem -1.875rem
  }
  .services__column {
    padding: 0 .9375rem
  }
}
@media (min-width:47.99875em) {
  .services__column:nth-child(3n+1) {
    -webkit-transform: translate(-1.875rem,1.875rem);
    transform: translate(-1.875rem,1.875rem)
  }
  .services__column:nth-child(3n+2) {
    -webkit-transform: translate(0,3.125rem);
    transform: translate(0,3.125rem)
  }
  .services__column:nth-child(3n+3) {
    -webkit-transform: translate(1.875rem,1.875rem);
    transform: translate(1.875rem,1.875rem)
  }
  .services__column._watcher-view:nth-child(3n+1) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    transition: transform .7s ease,-webkit-transform .7s ease
  }
  .services__column._watcher-view:nth-child(3n+2) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .services__column._watcher-view:nth-child(3n+3) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
    transition: transform .9s ease,-webkit-transform .9s ease
  }
  .contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .contact__content {
    padding: 0 0 1.25rem 0
  }
}
@media (min-width:50.625em) {
  .subscribe__body {
    display: flex;
    justify-content: space-between
  }
  .subscribe__title {
    max-width: 16.625rem
  }
}
@media (min-width:61.99875em) {
  .advantages__column:nth-child(4n+1) {
    -webkit-transform: translate(-1.875rem,1.875rem);
    transform: translate(-1.875rem,1.875rem)
  }
  .advantages__column:nth-child(4n+2) {
    -webkit-transform: translate(0,3.125rem);
    transform: translate(0,3.125rem)
  }
  .advantages__column:nth-child(4n+3) {
    -webkit-transform: translate(0,3.125rem);
    transform: translate(0,3.125rem)
  }
  .advantages__column:nth-child(4n+4) {
    -webkit-transform: translate(1.875rem,1.875rem);
    transform: translate(1.875rem,1.875rem)
  }
  .advantages__column._watcher-view:nth-child(4n+1) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    transition: transform .7s ease,-webkit-transform .7s ease
  }
  .advantages__column._watcher-view:nth-child(4n+2) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .advantages__column._watcher-view:nth-child(4n+3) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .advantages__column._watcher-view:nth-child(4n+4) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
    transition: transform .9s ease,-webkit-transform .9s ease
  }
  .practice__column:nth-child(4n+1) {
    -webkit-transform: translate(-1.875rem,1.875rem);
    transform: translate(-1.875rem,1.875rem)
  }
  .practice__column:nth-child(4n+2) {
    -webkit-transform: translate(0,3.125rem);
    transform: translate(0,3.125rem)
  }
  .practice__column:nth-child(4n+3) {
    -webkit-transform: translate(0,3.125rem);
    transform: translate(0,3.125rem)
  }
  .practice__column:nth-child(4n+4) {
    -webkit-transform: translate(1.875rem,1.875rem);
    transform: translate(1.875rem,1.875rem)
  }
  .practice__column._watcher-view:nth-child(4n+1) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    transition: transform .7s ease,-webkit-transform .7s ease
  }
  .practice__column._watcher-view:nth-child(4n+2) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .practice__column._watcher-view:nth-child(4n+3) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .practice__column._watcher-view:nth-child(4n+4) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
    transition: transform .9s ease,-webkit-transform .9s ease
  }
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center
  }
  .item-getintouch--active .item-getintouch__button {
    border: .0625rem solid #fff
  }
  .item-getintouch>*:not(:last-child) {
    margin-bottom: .9375rem
  }
  .getintouch__item:nth-child(3n+1) {
    -webkit-transform: translate(-1.875rem,1.875rem);
    transform: translate(-1.875rem,1.875rem)
  }
  .getintouch__item:nth-child(3n+2) {
    -webkit-transform: translate(0,3.125rem);
    transform: translate(0,3.125rem)
  }
  .getintouch__item:nth-child(3n+3) {
    -webkit-transform: translate(1.875rem,1.875rem);
    transform: translate(1.875rem,1.875rem)
  }
  .getintouch__item._watcher-view:nth-child(3n+1) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    transition: transform .7s ease,-webkit-transform .7s ease
  }
  .getintouch__item._watcher-view:nth-child(3n+2) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .getintouch__item._watcher-view:nth-child(3n+3) {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
    transition: transform .9s ease,-webkit-transform .9s ease
  }
}
@media (min-width:66.875em) {
  .subscribe__body {
    margin: 0 1.875rem
  }
}
@media (min-width:67.5em) {
  .header-block__title {
    font-size: 2.5rem
  }
  .header__container {
    min-height: 6.5rem
  }
  ._header-scroll .header__container {
    min-height: 3.75rem
  }
  .menu__list {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
  .main-block__title {
    font-size: 3.625rem
  }
  .advantages__header {
    margin-bottom: 3.125rem
  }
  .whoweare__header {
    margin-bottom: 6.25rem
  }
  .whoweare__top:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .whoweare__title {
    font-size: 2.5rem
  }
  .getintouch {
    padding-top: 5rem
  }
  .getintouch {
    padding-bottom: 5rem
  }
  .getintouch__header {
    margin-bottom: 5rem
  }
  .item-getintouch--active {
    padding-top: 5rem
  }
}
@media (min-width:80em) {
  .main-block__body {
    padding-top: 11.875rem
  }
  .main-block__body {
    padding-bottom: 11.875rem
  }
}
@media (min-width:90em) {
  .services {
    padding-bottom: 2.5rem
  }
  .advantages {
    padding-top: 2.5rem
  }
  .advantages {
    padding-bottom: 2.5rem
  }
  .practice {
    padding-top: 2.8125rem
  }
  .practice {
    padding-bottom: 5rem
  }
  .practice__header {
    margin-bottom: 2.8125rem
  }
  .practice__column {
    padding-left: 1.25rem
  }
  .practice__column {
    padding-right: 1.25rem
  }
  .whoweare {
    padding-top: 6.25rem
  }
  .whoweare {
    padding-bottom: 6.25rem
  }
}
@media (max-width:65em) {
  .practice__column {
    padding-left: .9375rem
  }
  .practice__column {
    padding-right: .9375rem;
    flex: 0 1 50%
  }
}
@media (max-width:20em) {
  .header-block__title {
    font-size: 1.875rem
  }
  .header__container {
    min-height: 3.75rem
  }
  ._header-scroll .header__container {
    min-height: 3.125rem
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .main-block__body {
    padding-top: 6.25rem
  }
  .main-block__body {
    padding-bottom: 1.875rem
  }
  .main-block__title {
    font-size: 2.625rem
  }
  .services {
    padding-bottom: 1.25rem
  }
  .advantages {
    padding-top: 1.25rem
  }
  .advantages {
    padding-bottom: 1.25rem
  }
  .advantages__header {
    margin-bottom: 1.875rem
  }
  .practice {
    padding-top: 1.25rem
  }
  .practice {
    padding-bottom: 2.5rem
  }
  .practice__header {
    margin-bottom: 1.5625rem
  }
  .whoweare {
    padding-top: 2.5rem
  }
  .whoweare {
    padding-bottom: 2.5rem
  }
  .whoweare__header {
    margin-bottom: 1.875rem
  }
  .whoweare__top:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .whoweare__title {
    font-size: 1.5rem
  }
  .getintouch {
    padding-top: 3.125rem
  }
  .getintouch {
    padding-bottom: 3.125rem
  }
  .getintouch__header {
    margin-bottom: 1.875rem
  }
  .item-getintouch--active {
    padding-top: 3.125rem
  }
}
@media (max-width:61.99875em) {
  .footer__column {
    flex: 0 1 25%
  }
  .footer__column:last-child {
    flex: 1 1 100%
  }
  .main-block__image {
    opacity: .5
  }
  .services__column {
    flex: 0 1 50%
  }
  .services__column:last-child {
    flex: 1 1 100%
  }
  .advantages__column {
    flex: 0 1 50%
  }
}
@media (max-width:59.375em) {
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch
  }
  .whoweare__video {
    padding: 0 0 56.25% 0
  }
  .whoweare__content {
    padding: 0
  }
}
@media (max-width:59.375em)and (max-width:20em) {
  .whoweare__video:not(:last-child) {
    margin-top: 1.875rem
  }
}
@media (max-width:50.625em) {
  .subscribe__body {
    margin: 0 -.9375rem;
    padding: 1.25rem .9375rem
  }
  .subscribe__input {
    padding: 0 .9375rem
  }
  .subscribe__button {
    padding: 0 .9375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    row-gap: .625rem;
    flex-direction: column;
    justify-content: center;
    text-align: center
  }
  .menu__link {
    font-size: 2rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu {
    justify-content: end
  }
  .footer__container {
    flex-direction: column
  }
  .footer__column {
    flex: 0 1 50%
  }
  .footer__copy {
    margin: 0 0 .9375rem 0;
    text-align: center
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:39.375em) {
  .practice__column {
    flex: 0 1 100%
  }
}
@media (max-width:29.99875em) {
  .footer__column {
    flex: 0 1 100%
  }
  .main-block__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto
  }
  .main-block__text {
    color: #363636
  }
  .main-block__button {
    flex: 1 1 100%
  }
  .services__item {
    padding: 1.5625rem
  }
  .advantages__column {
    flex: 0 1 100%
  }
}
@media (min-width:20em)and (max-width:67.5em) {
  .header-block__title {
    font-size: clamp(1.875rem ,1.6118421053rem + 1.3157894737vw ,2.5rem)
  }
  .header__container {
    min-height: clamp(3.75rem ,2.5921052632rem + 5.7894736842vw ,6.5rem)
  }
  ._header-scroll .header__container {
    min-height: clamp(3.125rem ,2.8618421053rem + 1.3157894737vw ,3.75rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(.9375rem ,.4111842105rem + 2.6315789474vw ,2.1875rem);
    -moz-column-gap: clamp(.9375rem ,.4111842105rem + 2.6315789474vw ,2.1875rem);
    column-gap: clamp(.9375rem ,.4111842105rem + 2.6315789474vw ,2.1875rem)
  }
  .main-block__title {
    font-size: clamp(2.625rem ,2.2039473684rem + 2.1052631579vw ,3.625rem)
  }
  .advantages__header {
    margin-bottom: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
  .whoweare__header {
    margin-bottom: clamp(1.875rem ,.0328947368rem + 9.2105263158vw ,6.25rem)
  }
  .whoweare__top:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
  .whoweare__title {
    font-size: clamp(1.5rem ,1.0789473684rem + 2.1052631579vw ,2.5rem)
  }
  .getintouch {
    padding-top: clamp(3.125rem ,2.3355263158rem + 3.9473684211vw ,5rem)
  }
  .getintouch {
    padding-bottom: clamp(3.125rem ,2.3355263158rem + 3.9473684211vw ,5rem)
  }
  .getintouch__header {
    margin-bottom: clamp(1.875rem ,.5592105263rem + 6.5789473684vw ,5rem)
  }
  .item-getintouch--active {
    padding-top: clamp(3.125rem ,2.3355263158rem + 3.9473684211vw ,5rem)
  }
}
@media (min-width:20em)and (max-width:80em) {
  .main-block__body {
    padding-top: clamp(6.25rem ,4.375rem + 9.375vw ,11.875rem)
  }
  .main-block__body {
    padding-bottom: clamp(1.875rem ,-1.4583333333rem + 16.6666666667vw ,11.875rem)
  }
}
@media (min-width:20em)and (max-width:90em) {
  .services {
    padding-bottom: clamp(1.25rem ,.8928571429rem + 1.7857142857vw ,2.5rem)
  }
  .advantages {
    padding-top: clamp(1.25rem ,.8928571429rem + 1.7857142857vw ,2.5rem)
  }
  .advantages {
    padding-bottom: clamp(1.25rem ,.8928571429rem + 1.7857142857vw ,2.5rem)
  }
  .practice {
    padding-top: clamp(1.25rem ,.8035714286rem + 2.2321428571vw ,2.8125rem)
  }
  .practice {
    padding-bottom: clamp(2.5rem ,1.7857142857rem + 3.5714285714vw ,5rem)
  }
  .practice__header {
    margin-bottom: clamp(1.5625rem ,1.2053571429rem + 1.7857142857vw ,2.8125rem)
  }
  .whoweare {
    padding-top: clamp(2.5rem ,1.4285714286rem + 5.3571428571vw ,6.25rem)
  }
  .whoweare {
    padding-bottom: clamp(2.5rem ,1.4285714286rem + 5.3571428571vw ,6.25rem)
  }
}
@media (min-width:65em)and (max-width:90em) {
  .practice__column {
    padding-left: clamp(.9375rem ,.125rem + 1.25vw ,1.25rem)
  }
  .practice__column {
    padding-right: clamp(.9375rem ,.125rem + 1.25vw ,1.25rem)
  }
}
@media (max-width:59.375em)and (min-width:67.5em) {
  .whoweare__video:not(:last-child) {
    margin-top: 3.125rem
  }
}
@media (max-width:59.375em)and (min-width:20em)and (max-width:67.5em) {
  .whoweare__video:not(:last-child) {
    margin-top: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover::before {
    width: 100%;
    left: 0
  }
  .menu-footer__link:hover::before {
    width: 100%;
    left: 0
  }
  .main-block__button:hover {
    background-color: #ff7b47;
    color: #fff;
    border: .0625rem solid transparent
  }
  .main-block__button--orange:hover {
    background-color: #fff;
    color: #0d5c63;
    border: .0625rem solid #0d5c63
  }
  .item-practice__link:hover {
    text-decoration: underline
  }
  .item-getintouch__email:hover {
    text-decoration: underline
  }
  .item-getintouch__button:hover {
    background-color: #ff7b47;
    color: #fff
  }
  .contact__button:hover {
    background-color: #ce6035
  }
}