@import url(https://fonts.googleapis.com/css?family=Onest:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Onest,sans-serif;
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Onest,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 116.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-size: 4.9375rem;
  font-weight: 400
}
.skills {
  padding: 2.5rem 1.5625rem 2.5rem 1.5625rem;
  margin-left: -.3125rem;
  margin-right: -.3125rem
}
.skills__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(47.8125rem,1fr))
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(199deg,#192230 36%,#12345e 80%,#192230 100%)
}
.skills__item span {
  color: #377de6
}
.skills__logo {
  width: 10rem;
  height: 2.6875rem
}
.skills__img {
  aspect-ratio: 940/800
}
.skills__course {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(47.8125rem,1fr))
}
.course__item {
  background: linear-gradient(199deg,#192230 36%,#12345e 80%,#192230 100%);
  padding: 3.4375rem 3.75rem
}
@media (min-width:101.06125rem) {
  .skills__img {
    -webkit-clip-path: polygon(0 0,100% 0,100% 60%,60% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 60%,60% 100%,0 100%)
  }
}
@media (min-width:116.875em) {
  .title {
    line-height: 5.4375rem
  }
  .skills {
    padding-top: 2.5rem
  }
  .skills {
    padding-bottom: 2.5rem
  }
  .skills {
    padding-left: 2.5rem
  }
  .skills {
    padding-right: 2.5rem
  }
  .skills__item {
    padding: 3.75rem
  }
  .skills__title {
    font-size: 4.9375rem
  }
  .skills__course {
    padding-top: 2.5rem
  }
  .skills__course {
    gap: 2.5rem
  }
  .course__item p {
    font-size: 1.875rem
  }
  .course__item p {
    line-height: 2.625rem
  }
}
@media (max-width:20em) {
  .title {
    line-height: 2.8125rem
  }
  .skills {
    padding-top: .625rem
  }
  .skills {
    padding-bottom: .625rem
  }
  .skills {
    padding-left: .0000000625rem
  }
  .skills {
    padding-right: .0000000625rem
  }
  .skills__item {
    padding: 1.25rem
  }
  .skills__title {
    font-size: 2rem
  }
  .skills__course {
    padding-top: .625rem
  }
  .skills__course {
    gap: .625rem
  }
  .course__item p {
    font-size: 1.25rem
  }
  .course__item p {
    line-height: 1.75rem
  }
}
@media (max-width:101.06125rem) {
  .skills__item {
    order: 2;
    gap: 4.75rem
  }
  .skills__image {
    order: 1
  }
}
@media (max-width:52.8125rem) {
  .skills__items {
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr))
  }
  .skills__course {
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr))
  }
}
@media (max-width:26.3125rem) {
  .skills__items {
    grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr))
  }
  .skills__course {
    grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr))
  }
}
@media (min-width:20em) and (max-width:116.875em) {
  @supports (line-height:clamp(2.8125rem ,2.2705645161rem + 2.7096774194vw ,5.4375rem)) {
    .title {
      line-height: clamp(2.8125rem ,2.2705645161rem + 2.7096774194vw ,5.4375rem)
    }
  }
  @supports not (line-height:clamp(2.8125rem ,2.2705645161rem + 2.7096774194vw ,5.4375rem)) {
    .title {
      line-height: calc(2.8125rem + 2.625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills {
      padding-top: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills {
      padding-top: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills {
      padding-bottom: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills {
      padding-bottom: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-0.5161289569rem + 2.5806450968vw ,2.5rem)) {
    .skills {
      padding-left: clamp(.0000000625rem ,-.5161289569rem + 2.5806450968vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-0.5161289569rem + 2.5806450968vw ,2.5rem)) {
    .skills {
      padding-left: calc(.0000000625rem + 2.4999999375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-right:clamp(0.0000000625rem ,-0.5161289569rem + 2.5806450968vw ,2.5rem)) {
    .skills {
      padding-right: clamp(.0000000625rem ,-.5161289569rem + 2.5806450968vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.0000000625rem ,-0.5161289569rem + 2.5806450968vw ,2.5rem)) {
    .skills {
      padding-right: calc(.0000000625rem + 2.4999999375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .skills__item {
      padding: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .skills__item {
      padding: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(2rem ,1.3935483871rem + 3.0322580645vw ,4.9375rem)) {
    .skills__title {
      font-size: clamp(2rem ,1.3935483871rem + 3.0322580645vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.3935483871rem + 3.0322580645vw ,4.9375rem)) {
    .skills__title {
      font-size: calc(2rem + 2.9375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills__course {
      padding-top: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills__course {
      padding-top: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills__course {
      gap: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .skills__course {
      gap: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .course__item p {
      font-size: clamp(1.25rem ,1.1209677419rem + .6451612903vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .course__item p {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (line-height:clamp(1.75rem ,1.5693548387rem + 0.9032258065vw ,2.625rem)) {
    .course__item p {
      line-height: clamp(1.75rem ,1.5693548387rem + .9032258065vw ,2.625rem)
    }
  }
  @supports not (line-height:clamp(1.75rem ,1.5693548387rem + 0.9032258065vw ,2.625rem)) {
    .course__item p {
      line-height: calc(1.75rem + .875 * (100vw - 20rem)/ 96.875)
    }
  }
}