@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700,800&display=swap);
@font-face {
  font-family: icons;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
[class*=_icon-]::after {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]::after {
  display: inline-block
}
._icon-a-down::after {
  content: "\e900"
}
._icon-a-left::after {
  content: "\e901"
}
._icon-a-right::after {
  content: "\e902"
}
._icon-a-up:before {
  content: "\e903"
}
._icon-bags:before {
  content: "\e904"
}
._icon-cart:before {
  content: "\e905"
}
._icon-ch-down:before {
  content: "\e906"
}
._icon-ch-left:before {
  content: "\e907"
}
._icon-ch-right:before {
  content: "\e908"
}
._icon-ch-up:before {
  content: "\e909"
}
._icon-close:before {
  content: "\e90a"
}
._icon-comment:before {
  content: "\e90b"
}
._icon-credit-card:before {
  content: "\e90c"
}
._icon-exit:before {
  content: "\e90d"
}
._icon-eye:before {
  content: "\e90e"
}
._icon-eye-border:before {
  content: "\e90f"
}
._icon-eye-hide:before {
  content: "\e910"
}
._icon-favorite:before {
  content: "\e911"
}
._icon-filtr:before {
  content: "\e912"
}
._icon-free-shipping:before {
  content: "\e913"
}
._icon-lock:before {
  content: "\e914"
}
._icon-play:before {
  content: "\e915"
}
._icon-play-circle:before {
  content: "\e916"
}
._icon-search:before {
  content: "\e917"
}
._icon-s-fb:before {
  content: "\e918"
}
._icon-s-in:before {
  content: "\e919"
}
._icon-s-inst:before {
  content: "\e91a"
}
._icon-size-fit:before {
  content: "\e91b"
}
._icon-star:before {
  content: "\e91c"
}
._icon-star-active:before {
  content: "\e91d"
}
._icon-s-twit:before {
  content: "\e91e"
}
._icon-trash:before {
  content: "\e91f"
}
._icon-truck:before {
  content: "\e920"
}
._icon-user:before {
  content: "\e921"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Mulish;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Mulish;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: #d0d0d0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  border-radius: 6.25rem;
  background-color: #69c647;
  padding: 1.0625rem 1.5rem;
  line-height: 1.4;
  text-align: center
}
.about {
  padding: 6px 16px 6px 16px;
  color: #14171f;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  background-color: #fff
}
.title {
  color: #14171f;
  font-weight: 700;
  line-height: 1.1
}
.header {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  z-index: 10
}
.header__container {
  border-radius: 1.25rem;
  background-color: #fff;
  display: flex;
  min-height: 5.5rem;
  align-items: center;
  justify-content: center
}
.header__logo {
  width: 7.5625rem;
  height: 1.6875rem
}
.header__phone {
  height: 2rem;
  width: 2rem
}
.header__body {
  flex-wrap: nowrap;
  display: flex;
  flex: 0 0 24.375rem;
  justify-content: space-between
}
.menu {
  flex-grow: 1;
  display: flex;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem;
  align-items: center
}
.menu__list {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: .25rem;
  left: -100%;
  padding-left: .9375rem
}
.uanb__list {
  gap: .25rem;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  line-height: 1.37
}
.uanb__list span {
  color: #69c647
}
.social {
  display: flex;
  align-items: center;
  order: 1
}
.social__list {
  display: flex
}
.social__item {
  flex-wrap: nowrap;
  background: linear-gradient(90deg,#2aabee .074%,#229ed9 100.002%);
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all .3s;
  border-radius: 50%
}
.social__item--green {
  background: #25d366
}
.tel {
  order: 1;
  line-height: 1.37;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  row-gap: .25rem
}
.tel__title {
  font-size: 12px
}
.footer {
  color: #fff;
  border-radius: 60px 60px 0 0;
  background-color: #14171f
}
.footer__zeit {
  display: flex;
  flex-direction: column
}
.menu-footer {
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
.menu-footer__link-logo:not(:last-child) {
  margin-bottom: 2.25rem
}
.menu-footer--zeit {
  grid-column: span 5
}
.menu-footer__list {
  line-height: 1.4;
  text-align: left
}
.menu-footer__list:not(:last-child) {
  margin-bottom: .625rem
}
.menu-footer__item:not(:last-child) {
  margin-bottom: .625rem
}
.social-footer {
  display: flex;
  align-items: center
}
.social-footer:not(:last-child) {
  margin-bottom: 1.25rem
}
.social-footer__list {
  display: flex;
  -webkit-column-gap: .875rem;
  -moz-column-gap: .875rem;
  column-gap: .875rem
}
.social-footer__item {
  flex-wrap: nowrap;
  background: linear-gradient(90deg,#2aabee .074%,#229ed9 100.002%);
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all .3s;
  border-radius: 50%
}
.sub-title {
  font-weight: 700;
  line-height: 1.3
}
.sub-title:not(:last-child) {
  margin-bottom: 1rem
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex
}
.hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 3.125rem;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .0625rem
}
.hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  flex-shrink: 0;
  height: .625rem;
  background-color: #fff;
  opacity: .5;
  border-radius: 0;
  margin: 0;
  transition: opacity .3s
}
.hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:first-child {
  border-radius: .3125rem 0 0 .3125rem
}
.hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:last-child {
  border-radius: 0 .3125rem .3125rem 0
}
.hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  opacity: 1
}
.hero__arrow {
  position: absolute;
  top: 90%;
  z-index: 5;
  border: 1.25px solid #14171f;
  border-radius: 50px;
  background: #fff;
  transition: opacity .3s;
  font-size: 1rem;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem
}
.slide-hero {
  position: relative
}
.slide-hero__container {
  position: relative;
  z-index: 2
}
.slide-hero__body {
  color: #fff;
  display: flex;
  flex-direction: column
}
.slide-hero__text {
  line-height: 1.4
}
.slide-hero__title {
  font-weight: 800;
  line-height: 1.2
}
.slide-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 0
}
.slide-hero__image--top-right {
  -o-object-position: top right;
  object-position: top right
}
.dienstleistungen__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(19.125rem,1fr));
  gap: 1.5rem
}
.dienstleistungen__item {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  gap: .9375rem;
  min-height: 19.1875rem;
  background: #fff
}
.service__body {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap
}
.service__title {
  flex: 1 0 50%
}
.service__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.about {
  margin-bottom: .75rem
}
.preis__body {
  display: flex;
  gap: 7.875rem;
  flex-wrap: nowrap
}
.body p:not(:last-child) {
  margin-bottom: 3rem
}
.body__title:not(:last-child) {
  margin-bottom: 2rem
}
.body__lieferung {
  flex: 1 0 50%
}
.lieferung__items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem
}
.lieferung__item {
  border-radius: 1.25rem;
  background-color: #fff;
  padding: 1.5rem
}
.lieferung__item:nth-child(3n) {
  grid-column: span 2
}
.karte__title:not(:last-child) {
  margin-bottom: 4rem
}
.karte__items {
  display: flex;
  flex-direction: row
}
.karte__link {
  margin-bottom: .625rem
}
.social-karte {
  display: flex;
  align-items: center;
  -webkit-column-gap: .875rem;
  -moz-column-gap: .875rem;
  column-gap: .875rem
}
.social-karte__icon {
  width: 1.75rem;
  height: 1.75rem
}
.vorteile__title {
  margin-bottom: 3rem
}
.vorteile__items {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: stretch;
  gap: 1.5rem
}
.vorteile__item {
  border-radius: 1.25rem;
  background-color: #fff;
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column
}
.vorteile__item:nth-child(1n) {
  grid-row: span 2;
  grid-column: span 2;
  height: 28.75rem
}
.vorteile__item:nth-child(2n) {
  grid-column: span 4;
  grid-row: span 1;
  height: 14.625rem
}
.vorteile__item:nth-child(3n),
.vorteile__item:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 1;
  height: 100%
}
.vorteile__item--long {
  flex-direction: row;
  justify-content: space-between
}
.vorteile__body {
  flex-direction: column;
  flex: 0 1 24rem
}
.vorteile__image {
  display: flex;
  flex: 1 0 14.25rem;
  justify-content: flex-end;
  align-items: end;
  width: 100%
}
.vorteile__img {
  aspect-ratio: 228/300;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 -1.5rem -1.5rem 0
}
.vorteile__image--long {
  aspect-ratio: 234/324;
  flex: 1 0 20.25rem;
  margin: 0 -1.5rem -1.5rem 0
}
.vorteile__item,
.vorteile__item--long,
.vorteile__items {
  height: 100%
}
.team__title:not(:last-child) {
  margin-bottom: 4rem
}
.team__item {
  display: flex;
  align-items: center
}
.team__img {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 20px
}
.team__label {
  font-weight: 700;
  line-height: 140%
}
.team__label:not(:last-child) {
  margin-bottom: 1.5rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:25.25em) {
  .social-karte {
    margin-bottom: 3rem
  }
}
@media (min-width:41.4375em) {
  .header__phone {
    display: none
  }
  .uanb__course {
    left: -100%;
    position: absolute
  }
}
@media (min-width:47.99875em) {
  .team__items {
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:47.99875em) and (min-width:87.5em) {
  .team__items {
    gap: 1.5rem
  }
}
@media (min-width:61.99875em) {
  .menu__label {
    display: none
  }
}
@media (min-width:64.06125em) {
  .menu-footer--zeit {
    justify-self: end
  }
}
@media (min-width:73.125em) {
  .header__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .menu__list {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .social__list {
    -webkit-column-gap: .875rem;
    -moz-column-gap: .875rem;
    column-gap: .875rem
  }
}
@media (min-width:87.5em) {
  .title {
    font-size: 2.5rem
  }
  .text {
    font-size: 1rem
  }
  .header__body {
    -webkit-column-gap: 2.6875rem;
    -moz-column-gap: 2.6875rem;
    column-gap: 2.6875rem
  }
  .hero__arrow--prew {
    right: 12rem
  }
  .hero__arrow--next {
    right: 7.5rem
  }
  .karte__title {
    width: 49.5rem
  }
  .karte__items {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .karte__items {
    font-size: 1rem
  }
  .vorteile__title {
    width: 49.5rem
  }
  .team__title {
    width: 49.5rem
  }
  .team__item {
    gap: 1.5rem
  }
  .team__label {
    font-size: 1.5rem
  }
}
@media (min-width:25em) {
  .slide-hero__body {
    align-items: start
  }
}
@media (min-width:75em) {
  .header__container {
    min-height: 5.5rem
  }
  .footer__menu {
    padding-top: 4.6875rem
  }
  .footer__menu {
    margin-bottom: 3rem
  }
  .menu-footer {
    -webkit-column-gap: 3.6875rem;
    -moz-column-gap: 3.6875rem;
    column-gap: 3.6875rem
  }
  .menu-footer__items {
    font-size: 1rem
  }
  .sub-title {
    font-size: 1.125rem
  }
  .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 3.125rem
  }
  .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    flex-basis: 3.9375rem
  }
  .slide-hero__body {
    padding-top: 17.125rem
  }
  .slide-hero__body {
    gap: 2.5rem
  }
  .slide-hero__title {
    font-size: 4rem
  }
  .dienstleistungen__title {
    margin-bottom: 4rem
  }
  .page__hero {
    margin-bottom: 8.75rem
  }
  .page__service {
    margin-bottom: 8.75rem
  }
  .page__dienstleistungen {
    margin-bottom: 8.75rem
  }
  .page__vorteile {
    margin-bottom: 8.75rem
  }
  .page__team {
    margin-bottom: 8.75rem
  }
  .page__preis {
    margin-bottom: 8.75rem
  }
  .page__karte {
    margin-bottom: 8.75rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.5rem
  }
  .text {
    font-size: .875rem
  }
  .header__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .header__container {
    min-height: 3.4375rem
  }
  .header__body {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer__menu {
    padding-top: 1.875rem
  }
  .footer__menu {
    margin-bottom: 1.5625rem
  }
  .menu-footer {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .menu-footer__items {
    font-size: .875rem
  }
  .sub-title {
    font-size: 1rem
  }
  .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2.5rem
  }
  .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    flex-basis: 1.875rem
  }
  .slide-hero__body {
    padding-top: 9.1875rem
  }
  .slide-hero__body {
    gap: 1rem
  }
  .slide-hero__title {
    font-size: 2.5rem
  }
  .dienstleistungen__title {
    margin-bottom: 2.5rem
  }
  .karte__title {
    width: 18.75rem
  }
  .karte__items {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .karte__items {
    font-size: .875rem
  }
  .vorteile__title {
    width: 18.75rem
  }
  .team__title {
    width: 18.75rem
  }
  .team__item {
    gap: .625rem
  }
  .team__label {
    font-size: 1.125rem
  }
  .page__hero {
    margin-bottom: 2.5rem
  }
  .page__service {
    margin-bottom: 2.5rem
  }
  .page__dienstleistungen {
    margin-bottom: 2.5rem
  }
  .page__vorteile {
    margin-bottom: 2.5rem
  }
  .page__team {
    margin-bottom: 2.5rem
  }
  .page__preis {
    margin-bottom: 2.5rem
  }
  .page__karte {
    margin-bottom: 2.5rem
  }
}
@media (max-width:64.06125em) {
  .menu-footer--zeit {
    grid-column: auto
  }
  .menu-footer {
    grid-template-columns: repeat(3,1fr);
    gap: 3.6875rem
  }
  .menu-footer__items:nth-child(1n) {
    order: 1
  }
  .menu-footer__items:nth-child(2n) {
    order: 4
  }
  .menu-footer__items:nth-child(3n) {
    order: 5
  }
  .menu-footer__items:nth-child(4n) {
    order: 6
  }
  .menu-footer__items:nth-child(5n) {
    order: 2
  }
  .menu-footer__items:nth-child(6n) {
    order: 3
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    transition: left .3s;
    background-color: #fff
  }
  .menu-open .menu__body {
    z-index: 2;
    left: 0
  }
  .menu-open .menu__body .header__body {
    padding-top: 4.375rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1rem
  }
  .menu-open .menu__body .uanb:not(:last-child) {
    margin-bottom: 1rem
  }
  .menu-open .menu__body .uanb__course:not(:last-child) {
    margin-bottom: 1rem
  }
  .menu-open .menu__body .social {
    order: 2
  }
  .menu-open .menu__body .social__list {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px
  }
  .menu-open .menu__body .tel {
    order: 1
  }
  .menu-open .menu__body .tel:not(:last-child) {
    margin-bottom: 1rem
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.3125rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__body {
    row-gap: 4.0625rem;
    flex-direction: column;
    display: flex
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: flex-start;
    align-items: start;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.37
  }
  .service__body {
    flex-wrap: wrap;
    row-gap: 3rem
  }
  .preis__body {
    flex-wrap: wrap;
    row-gap: 3rem
  }
  .vorteile__item:nth-child(2n) {
    grid-column: span 6;
    order: 4
  }
  .vorteile__item:nth-child(3n) {
    order: 2;
    grid-column: span 4
  }
  .vorteile__item:nth-child(4n) {
    grid-column: span 4;
    grid-row: span 1;
    height: 100%;
    order: 3
  }
}
@media (max-width:61.99875em) and (max-width:61.99875em) {
  .menu-open .menu__body .uanb__course {
    position: static
  }
}
@media (max-width:61.99875em) and (max-width:41.4375em) {
  .menu-open .menu__body .uanb {
    position: static
  }
  .menu-open .menu__body .social {
    position: static
  }
  .menu-open .menu__body .tel {
    position: static
  }
}
@media (max-width:61.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:60.56125em) {
  .social__list {
    -webkit-column-gap: .3125rem;
    -moz-column-gap: .3125rem;
    column-gap: .3125rem
  }
}
@media (max-width:48.06125em) {
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (max-width:47.99875em) {
  .header__body {
    display: flex;
    flex: 0 1 auto
  }
  .vorteile__item:nth-child(1n),
  .vorteile__item:nth-child(2n),
  .vorteile__item:nth-child(3n),
  .vorteile__item:nth-child(4n) {
    grid-column: span 6;
    grid-row: auto
  }
  .team__item:not(:last-child) {
    margin-bottom: 1.5rem
  }
}
@media (max-width:42.9375em) {
  .karte__items {
    flex-wrap: wrap
  }
}
@media (max-width:41.4375em) {
  .menu {
    justify-content: flex-end;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
  .menu__label {
    display: none
  }
  .uanb {
    left: -100%;
    position: absolute
  }
  .social {
    left: -100%;
    position: absolute
  }
  .tel {
    left: -100%;
    position: absolute
  }
}
@media (max-width:34.74875em) {
  .menu-footer__link-logo {
    grid-column: span 2
  }
  .menu-footer {
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem
  }
  .menu-footer__items:nth-child(1n) {
    order: 2
  }
  .menu-footer__items:nth-child(2n) {
    order: 4
  }
  .menu-footer__items:nth-child(3n) {
    order: 5
  }
  .menu-footer__items:nth-child(4n) {
    order: 6
  }
  .menu-footer__items:nth-child(5n) {
    order: 1
  }
  .menu-footer__items:nth-child(6n) {
    order: 3
  }
}
@media (max-width:34.74875em) and (max-width:20em) {
  .menu-footer {
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem
  }
}
@media (max-width:31.5625em) {
  .vorteile__image--long {
    display: none
  }
}
@media (max-width:25.25em) {
  .karte__item {
    margin-bottom: 2rem
  }
}
@media (max-width:22.5em) {
  .hero__arrow--prew {
    right: 5.5rem
  }
  .hero__arrow--next {
    right: 1rem
  }
}
@media (max-width:61.99875em) and (min-width:41.49875em) and (min-width:61.99875em) {
  .menu-open .icon-menu::before {
    right: -40.625rem
  }
  .menu-open .icon-menu::after {
    right: -40.625rem
  }
}
@media (max-width:61.99875em) and (min-width:41.49875em) and (min-width:20em) and (max-width:61.99875em) {
  @supports (right:clamp(-40.625rem ,10.1195348076rem + -81.8476740379vw ,-6.25rem)) {
    .menu-open .icon-menu::before {
      right: clamp(-40.625rem ,10.1195348076rem + -81.8476740379vw ,-6.25rem)
    }
  }
  @supports not (right:clamp(-40.625rem ,10.1195348076rem + -81.8476740379vw ,-6.25rem)) {
    .menu-open .icon-menu::before {
      right: calc(-6.25rem + -34.375 * (100vw - 20rem)/ 41.99875)
    }
  }
  @supports (right:clamp(-40.625rem ,10.1195348076rem + -81.8476740379vw ,-6.25rem)) {
    .menu-open .icon-menu::after {
      right: clamp(-40.625rem ,10.1195348076rem + -81.8476740379vw ,-6.25rem)
    }
  }
  @supports not (right:clamp(-40.625rem ,10.1195348076rem + -81.8476740379vw ,-6.25rem)) {
    .menu-open .icon-menu::after {
      right: calc(-6.25rem + -34.375 * (100vw - 20rem)/ 41.99875)
    }
  }
}
@media (max-width:61.99875em) and (min-width:41.49875em) and (max-width:20em) {
  .menu-open .icon-menu::before {
    right: -6.25rem
  }
  .menu-open .icon-menu::after {
    right: -6.25rem
  }
}
@media (min-width:20em) and (max-width:87.5em) {
  @supports (font-size:clamp(1.5rem ,1.2037037037rem + 1.4814814815vw ,2.5rem)) {
    .title {
      font-size: clamp(1.5rem ,1.2037037037rem + 1.4814814815vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2037037037rem + 1.4814814815vw ,2.5rem)) {
    .title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.837962963rem + 0.1851851852vw ,1rem)) {
    .text {
      font-size: clamp(.875rem ,.837962963rem + .1851851852vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.837962963rem + 0.1851851852vw ,1rem)) {
    .text {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.4189814815rem + 2.5925925926vw ,2.6875rem)) or (column-gap:clamp(0.9375rem ,0.4189814815rem + 2.5925925926vw ,2.6875rem))) {
    .header__body {
      -webkit-column-gap: clamp(.9375rem ,.4189814815rem + 2.5925925926vw ,2.6875rem);
      -moz-column-gap: clamp(.9375rem ,.4189814815rem + 2.5925925926vw ,2.6875rem);
      column-gap: clamp(.9375rem ,.4189814815rem + 2.5925925926vw ,2.6875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.4189814815rem + 2.5925925926vw ,2.6875rem)) or (column-gap:clamp(0.9375rem ,0.4189814815rem + 2.5925925926vw ,2.6875rem))) {
    .header__body {
      -webkit-column-gap: calc(.9375rem + 1.75 * (100vw - 20rem)/ 67.5);
      -moz-column-gap: calc(.9375rem + 1.75 * (100vw - 20rem)/ 67.5);
      column-gap: calc(.9375rem + 1.75 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (width:clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)) {
    .karte__title {
      width: clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)
    }
  }
  @supports not (width:clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)) {
    .karte__title {
      width: calc(18.75rem + 30.75 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports ((-moz-column-gap:clamp(0.625rem ,-0.6712962963rem + 6.4814814815vw ,5rem)) or (column-gap:clamp(0.625rem ,-0.6712962963rem + 6.4814814815vw ,5rem))) {
    .karte__items {
      -webkit-column-gap: clamp(.625rem ,-.6712962963rem + 6.4814814815vw ,5rem);
      -moz-column-gap: clamp(.625rem ,-.6712962963rem + 6.4814814815vw ,5rem);
      column-gap: clamp(.625rem ,-.6712962963rem + 6.4814814815vw ,5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,-0.6712962963rem + 6.4814814815vw ,5rem)) or (column-gap:clamp(0.625rem ,-0.6712962963rem + 6.4814814815vw ,5rem))) {
    .karte__items {
      -webkit-column-gap: calc(.625rem + 4.375 * (100vw - 20rem)/ 67.5);
      -moz-column-gap: calc(.625rem + 4.375 * (100vw - 20rem)/ 67.5);
      column-gap: calc(.625rem + 4.375 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.837962963rem + 0.1851851852vw ,1rem)) {
    .karte__items {
      font-size: clamp(.875rem ,.837962963rem + .1851851852vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.837962963rem + 0.1851851852vw ,1rem)) {
    .karte__items {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (width:clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)) {
    .vorteile__title {
      width: clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)
    }
  }
  @supports not (width:clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)) {
    .vorteile__title {
      width: calc(18.75rem + 30.75 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (width:clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)) {
    .team__title {
      width: clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)
    }
  }
  @supports not (width:clamp(18.75rem ,9.6388888889rem + 45.5555555556vw ,49.5rem)) {
    .team__title {
      width: calc(18.75rem + 30.75 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (gap:clamp(0.625rem ,0.3657407407rem + 1.2962962963vw ,1.5rem)) {
    .team__item {
      gap: clamp(.625rem ,.3657407407rem + 1.2962962963vw ,1.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.3657407407rem + 1.2962962963vw ,1.5rem)) {
    .team__item {
      gap: calc(.625rem + .875 * (100vw - 20rem)/ 67.5)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0138888889rem + 0.5555555556vw ,1.5rem)) {
    .team__label {
      font-size: clamp(1.125rem ,1.0138888889rem + .5555555556vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0138888889rem + 0.5555555556vw ,1.5rem)) {
    .team__label {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 67.5)
    }
  }
}
@media (min-width:20em) and (max-width:73.125em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.5845588235rem + 1.7647058824vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.5845588235rem + 1.7647058824vw ,1.875rem))) {
    .header__container {
      -webkit-column-gap: clamp(.9375rem ,.5845588235rem + 1.7647058824vw ,1.875rem);
      -moz-column-gap: clamp(.9375rem ,.5845588235rem + 1.7647058824vw ,1.875rem);
      column-gap: clamp(.9375rem ,.5845588235rem + 1.7647058824vw ,1.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.5845588235rem + 1.7647058824vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.5845588235rem + 1.7647058824vw ,1.875rem))) {
    .header__container {
      -webkit-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 53.125);
      -moz-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 53.125);
      column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 53.125)
    }
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (min-height:clamp(3.4375rem ,2.6875rem + 3.75vw ,5.5rem)) {
    .header__container {
      min-height: clamp(3.4375rem ,2.6875rem + 3.75vw ,5.5rem)
    }
  }
  @supports not (min-height:clamp(3.4375rem ,2.6875rem + 3.75vw ,5.5rem)) {
    .header__container {
      min-height: calc(3.4375rem + 2.0625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.8522727273rem + 5.1136363636vw ,4.6875rem)) {
    .footer__menu {
      padding-top: clamp(1.875rem ,.8522727273rem + 5.1136363636vw ,4.6875rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.8522727273rem + 5.1136363636vw ,4.6875rem)) {
    .footer__menu {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,1.0397727273rem + 2.6136363636vw ,3rem)) {
    .footer__menu {
      margin-bottom: clamp(1.5625rem ,1.0397727273rem + 2.6136363636vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,1.0397727273rem + 2.6136363636vw ,3rem)) {
    .footer__menu {
      margin-bottom: calc(1.5625rem + 1.4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,-0.0625rem + 5vw ,3.6875rem)) or (column-gap:clamp(0.9375rem ,-0.0625rem + 5vw ,3.6875rem))) {
    .menu-footer {
      -webkit-column-gap: clamp(.9375rem ,-.0625rem + 5vw ,3.6875rem);
      -moz-column-gap: clamp(.9375rem ,-.0625rem + 5vw ,3.6875rem);
      column-gap: clamp(.9375rem ,-.0625rem + 5vw ,3.6875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,-0.0625rem + 5vw ,3.6875rem)) or (column-gap:clamp(0.9375rem ,-0.0625rem + 5vw ,3.6875rem))) {
    .menu-footer {
      -webkit-column-gap: calc(.9375rem + 2.75 * (100vw - 20rem)/ 55);
      -moz-column-gap: calc(.9375rem + 2.75 * (100vw - 20rem)/ 55);
      column-gap: calc(.9375rem + 2.75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8295454545rem + 0.2272727273vw ,1rem)) {
    .menu-footer__items {
      font-size: clamp(.875rem ,.8295454545rem + .2272727273vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8295454545rem + 0.2272727273vw ,1rem)) {
    .menu-footer__items {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.9545454545rem + 0.2272727273vw ,1.125rem)) {
    .sub-title {
      font-size: clamp(1rem ,.9545454545rem + .2272727273vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9545454545rem + 0.2272727273vw ,1.125rem)) {
    .sub-title {
      font-size: calc(1rem + .125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (bottom:clamp(2.5rem ,2.2727272727rem + 1.1363636364vw ,3.125rem)) {
    .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: clamp(2.5rem ,2.2727272727rem + 1.1363636364vw ,3.125rem)
    }
  }
  @supports not (bottom:clamp(2.5rem ,2.2727272727rem + 1.1363636364vw ,3.125rem)) {
    .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: calc(2.5rem + .625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (flex-basis:clamp(1.875rem ,1.125rem + 3.75vw ,3.9375rem)) {
    .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
      flex-basis: clamp(1.875rem ,1.125rem + 3.75vw ,3.9375rem)
    }
  }
  @supports not (flex-basis:clamp(1.875rem ,1.125rem + 3.75vw ,3.9375rem)) {
    .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
      flex-basis: calc(1.875rem + 2.0625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(9.1875rem ,6.3011363636rem + 14.4318181818vw ,17.125rem)) {
    .slide-hero__body {
      padding-top: clamp(9.1875rem ,6.3011363636rem + 14.4318181818vw ,17.125rem)
    }
  }
  @supports not (padding-top:clamp(9.1875rem ,6.3011363636rem + 14.4318181818vw ,17.125rem)) {
    .slide-hero__body {
      padding-top: calc(9.1875rem + 7.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(1rem ,0.4545454545rem + 2.7272727273vw ,2.5rem)) {
    .slide-hero__body {
      gap: clamp(1rem ,.4545454545rem + 2.7272727273vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1rem ,0.4545454545rem + 2.7272727273vw ,2.5rem)) {
    .slide-hero__body {
      gap: calc(1rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2.5rem ,1.9545454545rem + 2.7272727273vw ,4rem)) {
    .slide-hero__title {
      font-size: clamp(2.5rem ,1.9545454545rem + 2.7272727273vw ,4rem)
    }
  }
  @supports not (font-size:clamp(2.5rem ,1.9545454545rem + 2.7272727273vw ,4rem)) {
    .slide-hero__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.9545454545rem + 2.7272727273vw ,4rem)) {
    .dienstleistungen__title {
      margin-bottom: clamp(2.5rem ,1.9545454545rem + 2.7272727273vw ,4rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.9545454545rem + 2.7272727273vw ,4rem)) {
    .dienstleistungen__title {
      margin-bottom: calc(2.5rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__hero {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__hero {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__service {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__service {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__dienstleistungen {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__dienstleistungen {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__vorteile {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__vorteile {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__team {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__team {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__preis {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__preis {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__karte {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__karte {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:48.06125em) and (max-width:73.125em) {
  @supports ((-moz-column-gap:clamp(0.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem)) or (column-gap:clamp(0.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem);
      -moz-column-gap: clamp(.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem);
      column-gap: clamp(.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem)) or (column-gap:clamp(0.625rem ,-2.0116453045rem + 5.4860106728vw ,2rem))) {
    .menu__list {
      -webkit-column-gap: calc(.625rem + 1.375 * (100vw - 48.06125rem)/ 25.06375);
      -moz-column-gap: calc(.625rem + 1.375 * (100vw - 48.06125rem)/ 25.06375);
      column-gap: calc(.625rem + 1.375 * (100vw - 48.06125rem)/ 25.06375)
    }
  }
}
@media (min-width:60.56125em) and (max-width:73.125em) {
  @supports ((-moz-column-gap:clamp(0.3125rem ,-2.3989279674rem + 4.4771664511vw ,0.875rem)) or (column-gap:clamp(0.3125rem ,-2.3989279674rem + 4.4771664511vw ,0.875rem))) {
    .social__list {
      -webkit-column-gap: clamp(.3125rem ,-2.3989279674rem + 4.4771664511vw ,.875rem);
      -moz-column-gap: clamp(.3125rem ,-2.3989279674rem + 4.4771664511vw ,.875rem);
      column-gap: clamp(.3125rem ,-2.3989279674rem + 4.4771664511vw ,.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.3125rem ,-2.3989279674rem + 4.4771664511vw ,0.875rem)) or (column-gap:clamp(0.3125rem ,-2.3989279674rem + 4.4771664511vw ,0.875rem))) {
    .social__list {
      -webkit-column-gap: calc(.3125rem + .5625 * (100vw - 60.56125rem)/ 12.56375);
      -moz-column-gap: calc(.3125rem + .5625 * (100vw - 60.56125rem)/ 12.56375);
      column-gap: calc(.3125rem + .5625 * (100vw - 60.56125rem)/ 12.56375)
    }
  }
}
@media (max-width:34.74875em) and (min-width:75em) {
  .menu-footer {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
}
@media (max-width:34.74875em) and (min-width:20em) and (max-width:75em) {
  @supports ((-moz-column-gap:clamp(0.5rem ,0.3181818182rem + 0.9090909091vw ,1rem)) or (column-gap:clamp(0.5rem ,0.3181818182rem + 0.9090909091vw ,1rem))) {
    .menu-footer {
      -webkit-column-gap: clamp(.5rem ,.3181818182rem + .9090909091vw ,1rem);
      -moz-column-gap: clamp(.5rem ,.3181818182rem + .9090909091vw ,1rem);
      column-gap: clamp(.5rem ,.3181818182rem + .9090909091vw ,1rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.5rem ,0.3181818182rem + 0.9090909091vw ,1rem)) or (column-gap:clamp(0.5rem ,0.3181818182rem + 0.9090909091vw ,1rem))) {
    .menu-footer {
      -webkit-column-gap: calc(.5rem + .5 * (100vw - 20rem)/ 55);
      -moz-column-gap: calc(.5rem + .5 * (100vw - 20rem)/ 55);
      column-gap: calc(.5rem + .5 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:22.5em) and (max-width:87.5em) {
  @supports (right:clamp(5.5rem ,3.25rem + 10vw ,12rem)) {
    .hero__arrow--prew {
      right: clamp(5.5rem ,3.25rem + 10vw ,12rem)
    }
  }
  @supports not (right:clamp(5.5rem ,3.25rem + 10vw ,12rem)) {
    .hero__arrow--prew {
      right: calc(5.5rem + 6.5 * (100vw - 22.5rem)/ 65)
    }
  }
  @supports (right:clamp(1rem ,-1.25rem + 10vw ,7.5rem)) {
    .hero__arrow--next {
      right: clamp(1rem ,-1.25rem + 10vw ,7.5rem)
    }
  }
  @supports not (right:clamp(1rem ,-1.25rem + 10vw ,7.5rem)) {
    .hero__arrow--next {
      right: calc(1rem + 6.5 * (100vw - 22.5rem)/ 65)
    }
  }
}
@media (min-width:47.99875em) and (min-width:20em) and (max-width:87.5em) {
  @supports (gap:clamp(0.625rem ,0.3657407407rem + 1.2962962963vw ,1.5rem)) {
    .team__items {
      gap: clamp(.625rem ,.3657407407rem + 1.2962962963vw ,1.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.3657407407rem + 1.2962962963vw ,1.5rem)) {
    .team__items {
      gap: calc(.625rem + .875 * (100vw - 20rem)/ 67.5)
    }
  }
}
@media (min-width:47.99875em) and (max-width:20em) {
  .team__items {
    gap: .625rem
  }
}
@media (any-hover:hover) {
  .social__item:hover {
    scale: 1.03
  }
  .hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:hover {
    opacity: .7
  }
}